.row-confirm-button {
    color: green;
    cursor: pointer;
}

.row-delete-button {
    color: red;
    margin-left: 10px;
    cursor: pointer;
}

.row-edit-button {
    color: royalblue;
    cursor: pointer;
}