.card {
    margin: 15px;
}

.card-confirm-button {
     color: green;
     cursor: pointer;
 }

.card-delete-button {
    color: red;
    margin-left: 10px;
    cursor: pointer;
}

.card-edit-button {
    color: royalblue;
    cursor: pointer;
    position: absolute;
    bottom: 5px;
    right: 3px;
}

.top-right-buttons {
    position: absolute;
    top: 5px;
    right: 15px;
}