.sticky-nav {
    position: fixed;
    width: 100%;
    background-color: #4C8BF5;
    z-index: 2;
    top: 0;
}

.sticky-nav-padding {
    padding: 5px;
}

.sticky-nav-row i,
.sticky-nav-row h5{
    color: white;
    padding-left: 8px;
    padding-top: 4px;
}

.plus-button i {
    /*padding: unset;*/
}

.plus-button :hover{
    cursor: pointer;
}

.plus-button i:not(:last-child) {
    color: red;
}


.course-table {
    margin-top: 48px;
}

.sticky-button {
    position: fixed;
    bottom: 35px;
    right: 50px;
    /*color: red;*/
    color: white;
    font-size: 0.85rem;
}

.sticky-button :hover{
    cursor: pointer;
}

.sticky-button i:not(:last-child) {
    color: red;
}
